.list {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

@media all and (max-width: 700px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media all and (min-width: 900px) {
  .list {
    grid-template-columns: repeat(4, 1fr);
  }
}
